In [11]:
import pandas as pd
df = pd.DataFrame({"Gender": ['f',"f",'m','f','m','m','f','f'],
                   "Age":[28,12,23, None,56,67,67,54],
                   "score": [21,22,34,None, 56,65,None,90]
                  })
#df.to_csv("E:\\MASTERS\\3 Fall 17\\DSc 5378\\Test_2\\gender_scores.csv")

In [4]:
#Imputer class
#converring M = 0 and f=1
from sklearn.preprocessing import Imputer
df.Gender = df.Gender.map({"f":1,"m":0})
print(df.head())
i = Imputer(strategy = "mean", axis = 0)
df= i.fit_transform(df)
df

    Age  Gender  score
0  28.0       1   21.0
1  12.0       1   22.0
2  23.0       0   34.0
3   NaN       1    NaN
4  56.0       0   56.0

array([[28.        ,  1.        , 21.        ],
       [12.        ,  1.        , 22.        ],
       [23.        ,  0.        , 34.        ],
       [43.85714286,  1.        , 48.        ],
       [56.        ,  0.        , 56.        ],
       [67.        ,  0.        , 65.        ],
       [67.        ,  1.        , 48.        ],
       [54.        ,  1.        , 90.        ]])

In [5]:
df1 = pd.DataFrame({"Gender": ['f',"f",'m','f','m','m','f','f'],
                   "Age":[28,12,23, None,56,67,67,54],
                   "score": [21,22,34,None, 56,65,None,90]
                  })
df1.Gender = df1.Gender.map({"f":1,"m":0})
df1

    Age  Gender  score
0  28.0       1   21.0
1  12.0       1   22.0
2  23.0       0   34.0
3   NaN       1    NaN
4  56.0       0   56.0
5  67.0       0   65.0
6  67.0       1    NaN
7  54.0       1   90.0

In [6]:
i_mean = Imputer(strategy = "mean", axis = 0)
dfmean= i_mean.fit_transform(df1)
dfmean

array([[28.        ,  1.        , 21.        ],
       [12.        ,  1.        , 22.        ],
       [23.        ,  0.        , 34.        ],
       [43.85714286,  1.        , 48.        ],
       [56.        ,  0.        , 56.        ],
       [67.        ,  0.        , 65.        ],
       [67.        ,  1.        , 48.        ],
       [54.        ,  1.        , 90.        ]])

In [8]:
i_most_frequent = Imputer(strategy = "most_frequent", axis  = 0)
df_most_frequent = i_most_frequent.fit_transform(df1)
df_most_frequent

array([[28.,  1., 21.],
       [12.,  1., 22.],
       [23.,  0., 34.],
       [67.,  1., 21.],
       [56.,  0., 56.],
       [67.,  0., 65.],
       [67.,  1., 21.],
       [54.,  1., 90.]])

In [9]:
imedian = Imputer(strategy = "median", axis = 0)
dfmedian = imedian.fit_transform(df1)
dfmedian

array([[28.,  1., 21.],
       [12.,  1., 22.],
       [23.,  0., 34.],
       [54.,  1., 45.],
       [56.,  0., 56.],
       [67.,  0., 65.],
       [67.,  1., 45.],
       [54.,  1., 90.]])

In [12]:
mean_score = int(df.score.dropna().mean())
df.score = df.score.fillna(mean_score)
median_age = df.Age.dropna().median()
df.Age = df.Age.fillna(median_age)
print(df)
df["score"]
df.score

    Age Gender  score
0  28.0      f   21.0
1  12.0      f   22.0
2  23.0      m   34.0
3  54.0      f   48.0
4  56.0      m   56.0
5  67.0      m   65.0
6  67.0      f   48.0
7  54.0      f   90.0

0    21.0
1    22.0
2    34.0
3    48.0
4    56.0
5    65.0
6    48.0
7    90.0
Name: score, dtype: float64